div{
    background-color: pink;
    width: 800px;
    padding-bottom: 30px;
}
table{
    height: 700px;
    width: 80%;
    margin: auto;
    background-color: blue;
    border-style: dotted;
    border-color: black;
    
}
th, td{
    padding: 10px;
}
p {
    font-size: 20px;
}
* {
    color: black;
}